@{
    ViewBag.Title = "Reset Password Confirmation";
}
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <title>Reset Password Confirmation</title>
    <meta name="keywords" content="Possum" />
    <meta name="description" content="">
    <meta name="author" content="NSD">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font CSS (Via CDN) -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/utility.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/custom.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">

</head>

<body class="minimal screenlock-page">
    <script> var boxtest = localStorage.getItem('boxed'); if (boxtest === 'true') { document.body.className += ' boxed-layout'; } </script>

    <!-- Start: Main -->
    <div id="main">
        <h1 style="text-align: center; margin-top: 50px;color:white;">
            Please check your email to reset your password.
        </h1>
    </div>

    <div class="overlay-black"></div>
    <!-- End: Main -->
    <div style="color:white; vertical-align:central;text-align:center;position: absolute; bottom: 0;left: 0;right: 0;background: #008080;" class="panel-footer"><p>Pos&amp;sum System AB Kullegatan 10 412 62, Gothenburg T: 031-7882400 M: info@posssumsystem.com </p></div>


    <!-- jQuery -->
    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <!-- Page Plugins -->
    <script type="text/javascript" src="~/Content/vendor/plugins/backstretch/jquery.backstretch.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $.backstretch("/Content/img/stock/splash/2.jpg");

        });
    </script>
</body>
</html>


  