@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>Current Version: 7</h3>
    <ul>
        <li>Version-6:</li>
        <ul>
            <li>No updates available</li>
        </ul>
        <li>Version-7: 16 April 2020</li>
        <ul>
            <li>Added two more APIs for deposit feature</li>
            <li>New table in database with name DepositFeature</li>
        </ul>
        <li>Version-7: 22 April 2020</li>
        <ul>
            <li>Added two more APIs for cashir logs</li>
        </ul>
    </ul>

</div>

