<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>

    <add name="LocalConnection" connectionString="Data Source=DESKTOP-3I14CUI;Initial Catalog=POSSUMRetail; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>

  </connectionStrings>
  <appSettings>
    <!--food order and mqtt start-->
    <add key="FoodOrderApiURL" value="http://devapis-foodorder.mofr.se/api/v1/CustomerOrder/"/>
    <!--<add key="MQTTSERVERIP" value="172.20.13.101" />-->
    <add key="MQTTSERVERIP" value="193.12.211.30"/>
    <!--public ip-->
    <add key="ShowNotification" value="true"/>
    <add key="MQTTTopic" value="TOPIC/Dev_"/>
    <add key="ISMQTTInitialize" value="0"/>
    <add key="ISMQTTInitializeForTerminal" value="0"/>
    <add key="POSMiniPrintForAccountCustomer" value="0"/>
    <!--food order and mqtt end-->


    <add key="TerminalId" value="BF4E518E-1D73-42F1-87D7-1E90E01E895A"/>

    <add key="PaymentWindowCloseWaitSeconds" value="5"/>
    <add key="IntegrationKey" value="8335628135377C60"/>
    <add key="Protocol" value="1.0"/>
    <add key="ReturnCode" value=""/>
    <add key="SignatureOnReturnReceipt" value="0"/>
    <add key="ShowReprintButton" value="0"/>
    <!--Bombora Logs in detail from there api we need to set value 3 -->
    <add key="Bambora_LogLevel" value="0"/>

    <add key="DiscountCode" value="123"/>
    <!--Sucess Messages List-->
    <add key="SuccessMessages" value="Kassan stängd|nextmessage"/>
    <!--<add key="SeamlessWebbPortal" value="http://evd.kontantkort.nu:5353/webportal/vendors"/>-->
    <add key="SeamlessWebbPortal" value=""/>
    <add key="HandlePaste" value="0"/>
    <!--<add key="QRCodeSlideShowURL" value="C:\POSSUM\pos\img\SwishQRCode.jpg" />-->
    <add key="QRCodeSlideShowURL" value=""/>

    <add key="ChangeUserURL" value="0"/>
    <add key="RestaurantGridShow" value="1"/>
   
    <!--Local cleancash-->
    <!--L<add key="Srv4Pos.RegisterCCU" value="http://localhost:24117/mapi"/>-->
    <!--L<add key="Srv4Pos.PostCCU" value="https://s.srv4pos.com/v45"/>-->
    <!--Live cleancash -->
    <!--L<add key="Srv4Pos.RegisterCCU" value="https://pos-apis.mofr.se/standalone-v2/mapi"/>-->
    <!--L<add key="Srv4Pos.PostCCU" value="https://a.srv4pos.com/v45"/>-->

    <!--<add key="MenuPinCode" value="2024"/>-->
    <add key="MenuPinCode" value=""/>

    <!--Data Sync API Link-->
    <!--working-->
    <!--<add key="ClientSettingsProvider.ServiceUri" value="http://api-v1.possumsystem.com/" />-->

    <!--clean cash-->
    <!--working-->
    <!--<add key="ControlUnitType" value="DUMMY" />-->
    <!--<add key="ControlUnitConnectionString" value="COM7:57600,DTR" />-->

    <!--other db terminal id-->
    <!--working-->

    <!--<add key="TerminalId" value="27B7F04E-A130-4DAB-9C4C-5482A171FC1C" />-->
    <!--<add key="TerminalId" value="C9BF09E3-AE61-4F25-8F78-B7196292C587" />-->

    <!--Possum db terminal id-->
    <!--<add key="TerminalId" value="1764D338-BDFC-45A3-80AB-8EC47D3294A6" />-->

    <!--working-->
    <!--<add key="CashDrawerType" value="DIRECT_HARDWARE_48C" />-->
    <!--working-->
    <!--0x48c=1164, 0x482=1154 -->
    <!--<add key="CashDrawerHardwarePort" value="1164" />-->

    <!-- CASH_GUARD Enable=1,0=Disable-->
    <!--<add key="CASH_GUARD" value="0" />-->
    <!-- CashGaurdPort=1-->
    <!--<add key="CASH_GuardPort" value="1" />-->
    <!--BABS_BPTI-->
    <!--working-->
    <!--<add key="PaymentDeviceType" value="BABS_BPTI" />-->
    <!--<add key="PaymentDevicConnectionString" value="babstcp://127.0.0.1:2000" />-->

    <!--VERIFONE-->
    <!--<add key="PaymentDeviceType1" value="VERIFONE" />-->
    <!--<add key="PaymentDevicConnectionString1" value="http://localhost:10001" />-->
    <!--Scale Type (NONE, DUMMY OR NCIPROTOCOL) -->

    <!--working-->
    <!--<add key="ScaleType" value="DUMMY" />-->
    <!-- Come Port for Scale  (COM1, COM2 .....) -->
    <!--<add key="SCALEPORT" value="COM1" />-->
    <!--1:Swedish, 2:English, 3:Maxican, 4:Arabic (Need to be handled in session)-->
    <!--<add key="Language" value="2" />-->
    <!--sv-SE:Swedish, en: USD, en-GB:British,ur-PK for Paskitan,SR for Saudi Riyal-->

    <add key="Currency" value="sv-SE"/>
    <!--1:Restaurant, 2:Retail -->
    <!--working-->
    <!--<add key="SaleType" value="1" />-->

    <!--working-->
    <!--1:ShowTableGrid, 2:ShowTable Layout -->
    <!--<add key="TableView" value="1" />-->

    <!--working-->
    <!--1:Show, 2:Hide -->
    <!--<add key="Takeaway" value="1" />-->

    <!--1:Show, 2:Hide -->
    <!--<add key="DirectCash" value="1" />-->
    <!--1:Show, 2:Hide -->
    <!--<add key="DirectCard" value="1" />-->
    <!--1:Show, 2:Hide -->
    <add key="BONG" value="1"/>

    <!--working-->
    <!--1:One Category Row , 2:Tow Category Rows,3: Three Category Rows (note: no value is suitable other than 1 , 2 or 3) -->
    <!--<add key="CategoryLines" value="4" />-->
    <!--4:Four Item Row , 5:Five Item Rows,6: Six Item Rows (note: no value is suitable other than 4 , 5 or 6) -->
    <!--<add key="ItemLines" value="3" />-->

    <!--1:Online Mode, 2:OffLineMode-->
    <add key="RunningMode" value="2"/>
    <!-- Write performance log  1:Write in log file, 0:No need to write-->
    <add key="DebugMode" value="0"/>
    <!-- Log on Receipt Print  1:Show, 0:Hide-->
    <add key="LogoEnable" value="1"/>


    <!-- Bong Alert  1:Show, 0:Hide-->
    <!--working-->
    <!--<add key="ShowBongAlert" value="1" />-->
    <!--Slide Show URL-->
    <!--working-->
    <!--<add key="SlideShowURL" value="C:/POSSUM/POS/Index.html" />-->

    <!--Dev Service Link for seamless products-->
    <!--<add key="ws_url" value="http://extdev.kontantkort.nu/extclientproxy/client?wsdl" />-->
    <!--Production Service Link for seamless products-->
    <!--<add key="ws_url" value="https://evd.kontantkort.nu/extclientproxy/client" />-->
    <!--<add key="M2MqttService" value="pmqtt01.westbahr.net" />-->
    <!--1= for integration external order 0= no external order intergration-->
    <!--<add key="ShowExternalOrder" value="0" />-->
    <!--external order API Link-->
    <!--<add key="ExternalOrderAPI" value="http://rest2.moblink.se/" />
    <add key="ExternalAPIUSER" value="template" />
    <add key="ExternalAPIPassword" value="template" />-->

    <!--working-->
    <!--<add key="APIUSER" value="munir" />-->
    <!--<add key="APIPassword" value="112233" />-->

    <!--email for error exception-->
    <add key="MailAddressFrom" value="deltron.pakistan@gmail.com"/>
    <add key="EmailPassword" value="Deltron12345"/>
    <add key="MailAddressCC" value="m-munir@live.com,eng.wiky@gmail.com"/>
    <add key="ShowSurvey" value="1"/>
    <add key="SurveyURL" value="https://docs.google.com/forms/d/e/1FAIpQLSfNszO5ymE0srlszoTE-WheCIqzbJfgkamLH3N3cVeUmBtxjg/viewform?fbzx=7354136611605931768"/>
    <add key="SurveyEXEPath" value="C:\Users\Zahid Hazoor\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\POSSUM\POSSUM Browser\POSSUM Browser.appref-ms"/>
    <add key="AdultText" value="Vuxna"/>
    <!--1: To enable 0: Disable-->
    <!--<add key="DallasKey" value="0" />-->
    <!--1: To Show 0: Hide-->
    <add key="ShowSwishButton" value="0"/>
    <add key="ShowStudentCardButton" value="0"/>
    <!--0: for single Outlet 1: Muli Outlet-->
    <add key="TerminalMode" value="0"/>

    <!--working-->
    <!--0: for hide customer view cart 1: show customer view cart-->
    <!--<add key="CustomerView" value="1" />-->

    <!--0: Will not add customer Info to Order 1: will add customer info to order from main screen-->
    <add key="CustomerOrderInfo" value="1"/>
    <!--1: Normal Font 0: Large Font-->
    <add key="BongNormalFont" value="1"/>
    <!--1: For Client Terminal 0:For Server Terminal-->
    <add key="IsClient" value="0"/>
    <!--Set night start hour -->
    <add key="NightStartHour" value="14"/>
    <!--Set night end hour -->
    <add key="NightEndHour" value="16"/>
    <!--1 For Dual Price Mode, 0 for single Price Mode -->
    <add key="DualPriceMode" value="0"/>
    <!--1 For Option to select table, 0 No option for table selection -->
    <add key="TableNeededOnBong" value="0"/>
    <!--1 Bong Print According to Product Printer, 0 Bong Print according to Outlet Kitchen Printer -->
    <add key="BongByProduct" value="0"/>
    <!--1 Log for the payment device, 0 Do not log for payment device -->
    <add key="DeviceLog" value="0"/>
    <!--1 Enable Price Policy, 0 Disable Price Policy -->
    <!--1 Enable Price Policy, 0 Disable Price Policy -->
    <add key="PricePolicy" value="0"/>

    <!--working-->
    <!--1 Enable Daily Bong Counter, 0 Disable Daily Bong Counter -->
    <!--<add key="DailyBongCounter" value="1" />-->
    <!--1 Show Bong Number, 0 Hide Bong Number -->
    <!--<add key="BongCounter" value="0" />-->

    <!--1 Show Multi Kitchen Lable, 0 HMulti Kitchen Lable -->
    <add key="MultiKitchen" value="0"/>

    <!--working-->
    <!--1 Show Price on Buttom, 0 Hide Price on Button -->
    <add key="ShowPrice" value="1"/>
    <!--1 Show Order#, 0 Hide Order3 On Bong  Print-->
    <add key="OrderNoOnBong" value="0"/>

    <!--working-->
    <!--1 Show credit note button on payment window#, 0 Hide credit note button-->
    <!--<add key="ElveCard" value="0" />-->
    <!--<add key="CreditNote" value="0" />-->
    <!--<add key="BeamPayment" value="1" />-->

    <!--1 Only numeric value in barcoe text box, 0  allow string-->
    <add key="DigitOnly" value="1"/>
    <add key="EnableExternalNetworking" value="1"/>
    <!--0 for UniqueId, 1 for TerminalNo-->
    <add key="PosIdType" value="1"/>

    <!--<add key="DebugCleanCash" value="0" />
    <add key="EnableCheckoutLog" value="1" />-->
    <!-- Employee Log button  1:Show, 0:Hide-->
    <add key="EmployeeLog" value="1"/>
    <!--check-in check-out-->
    <add key="ReplacePosIdSpecialChars" value="0"/>
    <add key="CustomerId" value="50824537-F6AE-47C9-83B5-EA80D269F1A7"/>
    <!--LUE Mqtt-->
    <!--<add key="LUEMqttService" value="mqtt.gw.westbahr.net" />-->
    <!--<add key="restaurant_group_id" value="114" />
    <add key="restaurant_id" value="129" />
    <add key="EnableMqtt" value="0" />-->
    <add key="HidePaymentButton" value="0"/>
    <add key="InvoiceDueDays" value="10"/>


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
