
@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment">MainPage</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index1">Back</a></h2>


<div class="menu__blocks-wrapper">
    <div class="menu__blocks">
        <div class="menu__list">
            <section class="menu__items-wrapper">
                <div class="menu__items">
                    <div class="dish-category-header" id="menu__category-id-16048">
                        <div class="dish-category-title-wrapper">
                            <h2 class="dish-category-title">Campaign</h2>
                        </div>
                    </div>
                    <ul class="dish-list">
                        <li class="">
                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120650,&quot;name&quot;:&quot;Smokey BBQ \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8r&quot;,&quot;description&quot;:&quot;A juicy burger with perfect balance between sweet Smokey BBQ sauce, sour cucumber and smoked bacon. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92331.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92331.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155378,&quot;code&quot;:&quot;s3qg-pv-1zim&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10338,10337]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155378" data-product-id="120650" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92331.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92331.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Smokey BBQ &amp; Co</span></h3><p class="dish-description e-description ingredients">A juicy burger with perfect balance between sweet Smokey BBQ sauce, sour cucumber and smoked bacon. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120651,&quot;name&quot;:&quot;Double Smokey BBQ \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8s&quot;,&quot;description&quot;:&quot;A juicy 226 gram burger with perfect balance between sweet Smokey BBQ sauce, sour cucumber and smoked bacon. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92332.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92332.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155379,&quot;code&quot;:&quot;s3qg-pv-1zin&quot;,&quot;name&quot;:null,&quot;price&quot;:94,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10338,10337]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155379" data-product-id="120651" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92332.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92332.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Double Smokey BBQ &amp; Co</span></h3><p class="dish-description e-description ingredients">A juicy 226 gram burger with perfect balance between sweet Smokey BBQ sauce, sour cucumber and smoked bacon. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK94
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120652,&quot;name&quot;:&quot;Chicken Smokey BBQ \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8t&quot;,&quot;description&quot;:&quot;A crunchy chicken burger with perfect balance between sweet Smokey BBQ sauce, sour cucumber and smoked bacon. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92333.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92333.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155380,&quot;code&quot;:&quot;s3qg-pv-1zio&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10338,10337]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155380" data-product-id="120652" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92333.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92333.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken Smokey BBQ &amp; Co</span></h3><p class="dish-description e-description ingredients">A crunchy chicken burger with perfect balance between sweet Smokey BBQ sauce, sour cucumber and smoked bacon. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120653,&quot;name&quot;:&quot;Veggie Smokey BBQ \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8u&quot;,&quot;description&quot;:&quot;A juicy BBQ vego burger with perfect balance between sweet Smokey BBQ sauce and sour cucumber. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92334.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92334.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155381,&quot;code&quot;:&quot;s3qg-pv-1zip&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10340,10339]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155381" data-product-id="120653" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92334.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92334.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Veggie Smokey BBQ &amp; Co</span></h3><p class="dish-description e-description ingredients">A juicy BBQ vego burger with perfect balance between sweet Smokey BBQ sauce and sour cucumber. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120654,&quot;name&quot;:&quot;Classic \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8v&quot;,&quot;description&quot;:&quot;The base is always 100% beef and nothing else. Our new hamburgers have classic flavors with a juicy hamburger bread, a Dijon mayo, ketchup, bacon and cheddar cheese. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92335.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92335.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155382,&quot;code&quot;:&quot;s3qg-pv-1ziq&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10342,10341]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155382" data-product-id="120654" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92335.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92335.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Classic &amp; Co</span></h3><p class="dish-description e-description ingredients">The base is always 100% beef and nothing else. Our new hamburgers have classic flavors with a juicy hamburger bread, a Dijon mayo, ketchup, bacon and cheddar cheese. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120655,&quot;name&quot;:&quot;Double Classic \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8w&quot;,&quot;description&quot;:&quot;The base is always 100% beef. 226 gram double burger with classic flavors. A juicy hamburger bread, a Dijon mayo, ketchup, bacon and cheddar cheese. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92336.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92336.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155383,&quot;code&quot;:&quot;s3qg-pv-1zir&quot;,&quot;name&quot;:null,&quot;price&quot;:94,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10342,10341]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155383" data-product-id="120655" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92336.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92336.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Double Classic &amp; Co</span></h3><p class="dish-description e-description ingredients">The base is always 100% beef. 226 gram double burger with classic flavors. A juicy hamburger bread, a Dijon mayo, ketchup, bacon and cheddar cheese. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK94
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120656,&quot;name&quot;:&quot;Chicken Classic \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8x&quot;,&quot;description&quot;:&quot;Our new chicken burger has classic flavors with a juicy hamburger bread, a Dijon mayo, ketchup, bacon and cheddar cheese. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92337.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92337.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155384,&quot;code&quot;:&quot;s3qg-pv-1zis&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10342,10341]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155384" data-product-id="120656" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92337.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92337.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken Classic &amp; Co</span></h3><p class="dish-description e-description ingredients">Our new chicken burger has classic flavors with a juicy hamburger bread, a Dijon mayo, ketchup, bacon and cheddar cheese. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120657,&quot;name&quot;:&quot;Veggie Classic \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8y&quot;,&quot;description&quot;:&quot;Test the classic hamburger flavors in a vegetarian format. Dijon-mayo, ketchup, salad and red onion together with aged cheddar. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92338.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92338.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155385,&quot;code&quot;:&quot;s3qg-pv-1zit&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10343,10344]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155385" data-product-id="120657" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92338.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92338.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Veggie Classic &amp; Co</span></h3><p class="dish-description e-description ingredients">Test the classic hamburger flavors in a vegetarian format. Dijon-mayo, ketchup, salad and red onion together with aged cheddar. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120646,&quot;name&quot;:&quot;El Maco \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8n&quot;,&quot;description&quot;:&quot;One of the Swedes favorite burger is back. 100% pure beef, hot salsa, cooling sour cream \u0026 chive sauce, cheese, fresh onion, crispy salad. Served with a beverage and a side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92327.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92327.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155374,&quot;code&quot;:&quot;s3qg-pv-1zii&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10335,10336]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155374" data-product-id="120646" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92327.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92327.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>El Maco &amp; Co</span></h3><p class="dish-description e-description ingredients">One of the Swedes favorite burger is back. 100% pure beef, hot salsa, cooling sour cream &amp; chive sauce, cheese, fresh onion, crispy salad. Served with a beverage and a side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120647,&quot;name&quot;:&quot;Dubbel El Maco \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8o&quot;,&quot;description&quot;:&quot;One of the Swedes favorite burgers is back in a larger format with 226 grams of pure beef. Hot salsa, cool sour cream \u0026 chive sauce, cheese, fresh onion, crispy salad. Served with a beverage and a side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92328.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92328.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155375,&quot;code&quot;:&quot;s3qg-pv-1zij&quot;,&quot;name&quot;:null,&quot;price&quot;:94,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10335,10336]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155375" data-product-id="120647" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92328.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92328.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Dubbel El Maco &amp; Co</span></h3><p class="dish-description e-description ingredients">One of the Swedes favorite burgers is back in a larger format with 226 grams of pure beef. Hot salsa, cool sour cream &amp; chive sauce, cheese, fresh onion, crispy salad. Served with a beverage and a side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK94
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120648,&quot;name&quot;:&quot;Chicken El Maco \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8p&quot;,&quot;description&quot;:&quot;One of the Swedes favorite burgers is back with a delicious chicken version. Hot salsa, cool sour cream \u0026 chive sauce, cheese, fresh onion, crispy salad. Served with a beverage and a side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92329.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92329.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155376,&quot;code&quot;:&quot;s3qg-pv-1zik&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10335,10336]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155376" data-product-id="120648" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92329.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92329.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken El Maco &amp; Co</span></h3><p class="dish-description e-description ingredients">One of the Swedes favorite burgers is back with a delicious chicken version. Hot salsa, cool sour cream &amp; chive sauce, cheese, fresh onion, crispy salad. Served with a beverage and a side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120649,&quot;name&quot;:&quot;Veggie El Maco \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8q&quot;,&quot;description&quot;:&quot;One of the Swedes favorite burgers is back with a delicious veggie version. Hot salsa, cool sour cream \u0026 chive sauce, cheese, fresh onion, crispy salad. Served with a beverage and a side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92330.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92330.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155377,&quot;code&quot;:&quot;s3qg-pv-1zil&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10335,10336]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155377" data-product-id="120649" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92330.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92330.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Veggie El Maco &amp; Co</span></h3><p class="dish-description e-description ingredients">One of the Swedes favorite burgers is back with a delicious veggie version. Hot salsa, cool sour cream &amp; chive sauce, cheese, fresh onion, crispy salad. Served with a beverage and a side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120658,&quot;name&quot;:&quot;Big Share&quot;,&quot;code&quot;:&quot;s3qg-pr-1z8z&quot;,&quot;description&quot;:&quot;Perfect to share. 6 Chili Cheese Tops, 6 Hot Wings, 6 Chicken McNuggets, 2 dip sauces.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92339.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92339.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155386,&quot;code&quot;:&quot;s3qg-pv-1ziu&quot;,&quot;name&quot;:null,&quot;price&quot;:79,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10317,10345]}],&quot;master_category_id&quot;:1,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Campaign" data-variation-id="155386" data-product-id="120658" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92339.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92339.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Big Share</span></h3><p class="dish-description e-description ingredients">Perfect to share. 6 Chili Cheese Tops, 6 Hot Wings, 6 Chicken McNuggets, 2 dip sauces.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK79
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>
                    </ul>
                    <div class="dish-category-header" id="menu__category-id-16049">
                        <div class="dish-category-title-wrapper">
                            <h2 class="dish-category-title">Menus</h2>
                        </div>
                    </div>
                    <ul class="dish-list">

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120659,&quot;name&quot;:&quot;Big Mac \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1z7i&quot;,&quot;description&quot;:&quot;Big Mac\u2122 is the world\u0027s most popular burger. It\u0027s not for no reason it\u0027s hard to resist. Served with beverage and a side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92286.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92286.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155387,&quot;code&quot;:&quot;s3qg-pv-1zhd&quot;,&quot;name&quot;:null,&quot;price&quot;:74,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10313,10314]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155387" data-product-id="120659" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92286.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92286.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Big Mac &amp; Co</span></h3><p class="dish-description e-description ingredients">Big Mac™ is the world's most popular burger. It's not for no reason it's hard to resist. Served with beverage and a side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK74
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120660,&quot;name&quot;:&quot;QP Cheese \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1zct&quot;,&quot;description&quot;:&quot;A large cheese burger with 100% beef, two slices of cheddar melt cheese, fresh onion, pickled cucumber, mustard and a click of ketchup - all in a bread topped with sesame seeds. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92477.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92477.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155388,&quot;code&quot;:&quot;s3qg-pv-1zmp&quot;,&quot;name&quot;:null,&quot;price&quot;:74,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10325,10326]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155388" data-product-id="120660" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92477.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92477.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>QP Cheese &amp; Co</span></h3><p class="dish-description e-description ingredients">A large cheese burger with 100% beef, two slices of cheddar melt cheese, fresh onion, pickled cucumber, mustard and a click of ketchup - all in a bread topped with sesame seeds. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK74
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120661,&quot;name&quot;:&quot;Double QP Cheese \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1zcu&quot;,&quot;description&quot;:&quot;Guaranteed to still your hunger. 226 grams of juicy beef, ketchup, mustard, cheddar melt cheese, cucumber, fresh onions in a freshly-baked bread with sesame seeds. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92478.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92478.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155389,&quot;code&quot;:&quot;s3qg-pv-1zmq&quot;,&quot;name&quot;:null,&quot;price&quot;:89,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10325,10326]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155389" data-product-id="120661" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92478.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92478.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Double QP Cheese &amp; Co</span></h3><p class="dish-description e-description ingredients">Guaranteed to still your hunger. 226 grams of juicy beef, ketchup, mustard, cheddar melt cheese, cucumber, fresh onions in a freshly-baked bread with sesame seeds. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK89
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120662,&quot;name&quot;:&quot;McFeast \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1zcv&quot;,&quot;description&quot;:&quot;Swedish McDonald\u0027s Classic. Always served with 100% pure beef, tomato, fresh onion, cheese and mayonnaise in a bread topped with sesame seeds. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92479.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92479.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155390,&quot;code&quot;:&quot;s3qg-pv-1zmr&quot;,&quot;name&quot;:null,&quot;price&quot;:74,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10327,10328]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155390" data-product-id="120662" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92479.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92479.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>McFeast &amp; Co</span></h3><p class="dish-description e-description ingredients">Swedish McDonald's Classic. Always served with 100% pure beef, tomato, fresh onion, cheese and mayonnaise in a bread topped with sesame seeds. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK74
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120663,&quot;name&quot;:&quot;Chicken McFeast \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1zcw&quot;,&quot;description&quot;:&quot;Enjoy a classic in a new delicious version, now with chicken. Mild as a summer breeze. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92480.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92480.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155391,&quot;code&quot;:&quot;s3qg-pv-1zms&quot;,&quot;name&quot;:null,&quot;price&quot;:74,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10327,10328]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155391" data-product-id="120663" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92480.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92480.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken McFeast &amp; Co</span></h3><p class="dish-description e-description ingredients">Enjoy a classic in a new delicious version, now with chicken. Mild as a summer breeze. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK74
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120664,&quot;name&quot;:&quot;Chicken McNuggets \u0026 Co, 6p&quot;,&quot;code&quot;:&quot;s3qg-pr-1zcx&quot;,&quot;description&quot;:&quot;Our delicious Chicken McNugget\u0027s always consists of chicken breast fillet with a crispy golden brown breading. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92481.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92481.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155392,&quot;code&quot;:&quot;s3qg-pv-1zmt&quot;,&quot;name&quot;:null,&quot;price&quot;:62,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10329,10311]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155392" data-product-id="120664" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92481.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92481.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken McNuggets &amp; Co, 6p</span></h3><p class="dish-description e-description ingredients">Our delicious Chicken McNugget's always consists of chicken breast fillet with a crispy golden brown breading. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK62
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120665,&quot;name&quot;:&quot;Chicken McNuggets \u0026 Co, 9p&quot;,&quot;code&quot;:&quot;s3qg-pr-1zcy&quot;,&quot;description&quot;:&quot;Our delicious Chicken McNugget\u0027s always consists of chicken breast fillet with a crispy golden brown breading. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92482.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92482.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155393,&quot;code&quot;:&quot;s3qg-pv-1zmu&quot;,&quot;name&quot;:null,&quot;price&quot;:72,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10329,10311,10392]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155393" data-product-id="120665" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92482.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92482.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken McNuggets &amp; Co, 9p</span></h3><p class="dish-description e-description ingredients">Our delicious Chicken McNugget's always consists of chicken breast fillet with a crispy golden brown breading. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK72
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120666,&quot;name&quot;:&quot;Chicken McNuggets \u0026 Co, 20p&quot;,&quot;code&quot;:&quot;s3qg-pr-1zcz&quot;,&quot;description&quot;:&quot;Our delicious Chicken McNugget\u0027s always consists of chicken breast fillet with a crispy golden brown breading. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/120666.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/120666.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155394,&quot;code&quot;:&quot;s3qg-pv-1zmv&quot;,&quot;name&quot;:null,&quot;price&quot;:92,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10329,10392,10393]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155394" data-product-id="120666" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/120666.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/120666.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken McNuggets &amp; Co, 20p</span></h3><p class="dish-description e-description ingredients">Our delicious Chicken McNugget's always consists of chicken breast fillet with a crispy golden brown breading. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK92
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120667,&quot;name&quot;:&quot;Double Cheeseburgare \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1zd0&quot;,&quot;description&quot;:&quot;A larger version of our popular Cheese burger with two slices of 100% pure beef, onions, pickles, mustard, ketchup and two slices of cheese - served with a warm roasted bread. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92484.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92484.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155395,&quot;code&quot;:&quot;s3qg-pv-1zmw&quot;,&quot;name&quot;:null,&quot;price&quot;:49,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10325,10326]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155395" data-product-id="120667" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92484.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92484.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Double Cheeseburgare &amp; Co</span></h3><p class="dish-description e-description ingredients">A larger version of our popular Cheese burger with two slices of 100% pure beef, onions, pickles, mustard, ketchup and two slices of cheese - served with a warm roasted bread. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK49
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120668,&quot;name&quot;:&quot;McVegan \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1zd1&quot;,&quot;description&quot;:&quot;A vegan soy-based burger with ketchup, mustard, egg-free mayonnaise, tomato, lettuce, onion, and pickles. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92485.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92485.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155396,&quot;code&quot;:&quot;s3qg-pv-1zmx&quot;,&quot;name&quot;:null,&quot;price&quot;:49,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10312,10331,10330]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155396" data-product-id="120668" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92485.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92485.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>McVegan &amp; Co</span></h3><p class="dish-description e-description ingredients">A vegan soy-based burger with ketchup, mustard, egg-free mayonnaise, tomato, lettuce, onion, and pickles. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK49
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120669,&quot;name&quot;:&quot;Filet-O-Fish \u0026 Co&quot;,&quot;code&quot;:&quot;s3qg-pr-1zd2&quot;,&quot;description&quot;:&quot;Our popular Filet-O-Fish comes from MSC-certified fish stocks - served with cheese and a click of tartar sauce. Served with your choice of beverage and side.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92486.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92486.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155397,&quot;code&quot;:&quot;s3qg-pv-1zmy&quot;,&quot;name&quot;:null,&quot;price&quot;:49,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10333,10332]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155397" data-product-id="120669" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92486.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92486.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Filet-O-Fish &amp; Co</span></h3><p class="dish-description e-description ingredients">Our popular Filet-O-Fish comes from MSC-certified fish stocks - served with cheese and a click of tartar sauce. Served with your choice of beverage and side.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK49
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:131647,&quot;name&quot;:&quot;Double Chicken Burger \u0026 Co&quot;,&quot;code&quot;:&quot;s0aw-pr-2tkv&quot;,&quot;description&quot;:&quot;Enjoy a crispy chicken, salad and a click of McFeast sauce. Now with twice as much chicken.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/131647.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/131647.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:177620,&quot;code&quot;:&quot;s0aw-pv-3t1w&quot;,&quot;name&quot;:null,&quot;price&quot;:49,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10310,10311,10354,10355]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="177620" data-product-id="131647" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/131647.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/131647.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Double Chicken Burger &amp; Co</span></h3><p class="dish-description e-description ingredients">Enjoy a crispy chicken, salad and a click of McFeast sauce. Now with twice as much chicken.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK49
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120670,&quot;name&quot;:&quot;Chicken \u0026 Hummus Salad Menu&quot;,&quot;code&quot;:&quot;s3qg-pr-1zd3&quot;,&quot;description&quot;:&quot;Fresh salad with a delicious mix of chicken, carrot, black rice, red cabbage and edamame beans. Served with your choice of beverage.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92487.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92487.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155398,&quot;code&quot;:&quot;s3qg-pv-1zmz&quot;,&quot;name&quot;:null,&quot;price&quot;:72,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10334,10311]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155398" data-product-id="120670" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92487.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92487.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken &amp; Hummus Salad Menu</span></h3><p class="dish-description e-description ingredients">Fresh salad with a delicious mix of chicken, carrot, black rice, red cabbage and edamame beans. Served with your choice of beverage.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK72
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:120671,&quot;name&quot;:&quot;Chicken \u0026 Beluga Lentil Salad Menu&quot;,&quot;code&quot;:&quot;s3qg-pr-1zd4&quot;,&quot;description&quot;:&quot;Summery salad with chicken, pickled carrots, beluga lentils, cabbage, quinoa. Served with your choice of beverage.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92488.png?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/92488.png?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:155399,&quot;code&quot;:&quot;s3qg-pv-1zn0&quot;,&quot;name&quot;:null,&quot;price&quot;:72,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[10309,10334,10311]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Menus" data-variation-id="155399" data-product-id="120671" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/92488.png?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/92488.png?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken &amp; Beluga Lentil Salad Menu</span></h3><p class="dish-description e-description ingredients">Summery salad with chicken, pickled carrots, beluga lentils, cabbage, quinoa. Served with your choice of beverage.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK72
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="sticky-cart-button-container">
                    <button class="sticky-cart-button hide loading">

                        <span class="cart-icon">
                            <a class="vendor-cart-icon ">
                                <svg width="18px" height="26px" viewBox="0 0 18 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <rect id="path-1" x="0" y="4" width="18" height="22"></rect>
                                        <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="18" height="22" fill="white">
                                            <use xlink:href="#path-1"></use>
                                        </mask>
                                        <rect id="path-3" x="0" y="19" width="18" height="7"></rect>
                                        <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="18" height="7" fill="white">
                                            <use xlink:href="#path-3"></use>
                                        </mask>
                                    </defs>
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g class="svg-stroke-container" transform="translate(-23.000000, -19.000000)" stroke="#D70F64">
                                            <g transform="translate(1.000000, 0.000000)">
                                                <g transform="translate(22.000000, 19.000000)">
                                                    <use id="Rectangle-2" mask="url(#mask-2)" stroke-width="2" xlink:href="#path-1"></use>
                                                    <path d="M4.5,6.5 L4.5,1.49077797 C4.5,0.943586406 4.9463114,0.5 5.49754465,0.5 L12.5024554,0.5 C13.053384,0.5 13.5,0.95097518 13.5,1.49077797 L13.5,6.5" id="Path-3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <use id="Rectangle-5" mask="url(#mask-4)" stroke-width="2" xlink:href="#path-3"></use>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <span class="products-count"></span>
                            </a>
                        </span>
                        <span>View cart</span>
                        <span class="products-value">SEK&nbsp;0</span>
                        <span class="calcul-animation">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </span>
                    </button>
                </div>
            </section>
        </div>

        <div class="menu__bottom-info">
            <div class="menu__footer">
                <div class="modal fade menu__allergy-modal" id="allergyModal" tabindex="-1" role="dialog" aria-labelledby="allergyModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <h4 class="modal__h4 text-center">Allergy Information</h4>
                            <div class="modal-body clearfix">
                                <ul class="menu__allergy-modal__items">
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-eggs"></i>
                                        <b class="menu__allergy-modal__item-number">4</b>
                                        <span class="menu__allergy-modal__item-text">Contains eggs</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-milk"></i>
                                        <b class="menu__allergy-modal__item-number">5</b>
                                        <span class="menu__allergy-modal__item-text">Contains milk</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-celery"></i>
                                        <b class="menu__allergy-modal__item-number">6</b>
                                        <span class="menu__allergy-modal__item-text">Contains celery</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-sesame"></i>
                                        <b class="menu__allergy-modal__item-number">7</b>
                                        <span class="menu__allergy-modal__item-text">Contains sesame</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-fish"></i>
                                        <b class="menu__allergy-modal__item-number">8</b>
                                        <span class="menu__allergy-modal__item-text">Contains fish</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-peanuts"></i>
                                        <b class="menu__allergy-modal__item-number">9</b>
                                        <span class="menu__allergy-modal__item-text">Contains peanuts</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-nuts"></i>
                                        <b class="menu__allergy-modal__item-number">10</b>
                                        <span class="menu__allergy-modal__item-text">Contains nuts</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-mustard"></i>
                                        <b class="menu__allergy-modal__item-number">11</b>
                                        <span class="menu__allergy-modal__item-text">Contains mustard</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-hot1"></i>
                                        <b class="menu__allergy-modal__item-number">12</b>
                                        <span class="menu__allergy-modal__item-text">Mildly spicy</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-hot2"></i>
                                        <b class="menu__allergy-modal__item-number">13</b>
                                        <span class="menu__allergy-modal__item-text">Spicy</span>
                                    </li>
                                </ul>
                                <ul class="menu__allergy-modal__items">
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-hot3"></i>
                                        <b class="menu__allergy-modal__item-number">14</b>
                                        <span class="menu__allergy-modal__item-text">Very spicy</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-vegetarian"></i>
                                        <b class="menu__allergy-modal__item-number">15</b>
                                        <span class="menu__allergy-modal__item-text">Vegetarian</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-crustaceans"></i>
                                        <b class="menu__allergy-modal__item-number">16</b>
                                        <span class="menu__allergy-modal__item-text">Contains custaceans</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-gluten"></i>
                                        <b class="menu__allergy-modal__item-number">17</b>
                                        <span class="menu__allergy-modal__item-text">Contains gluten</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-lupin"></i>
                                        <b class="menu__allergy-modal__item-number">18</b>
                                        <span class="menu__allergy-modal__item-text">Contains lupin</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-so2"></i>
                                        <b class="menu__allergy-modal__item-number">19</b>
                                        <span class="menu__allergy-modal__item-text">Contains sulphur dioxide and sulphites</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-soy"></i>
                                        <b class="menu__allergy-modal__item-number">20</b>
                                        <span class="menu__allergy-modal__item-text">Contains soy</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-molluscs"></i>
                                        <b class="menu__allergy-modal__item-number">21</b>
                                        <span class="menu__allergy-modal__item-text">Contains molluscs</span>
                                    </li>
                                    <li class="menu__allergy-modal__item">
                                        <i class="menu__allergy-modal__item-icon icon-foodinfo-vegan"></i>
                                        <b class="menu__allergy-modal__item-number">22</b>
                                        <span class="menu__allergy-modal__item-text">Vegan</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-close-button" data-dismiss="modal"></div>
                        </div>
                    </div>
                </div>



                <div class="menu__icon-legend full-container">
                    <i class="menu__icon-legend__info-icon icon-info-circled"></i>
                    <a class="menu__icon-legend__link">Allergy Information</a>
                </div>

                <div class="menu-bottom-info-restaurant-description full-container">

                </div>


            </div>
        </div>
    </div>
</div>




