
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@*<a href="https://onlineorderingsystem.mofr.se/OrderPayment">Home</a>*@</h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index1">Food Items</a></h2>
@*<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index2">Index2</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index3">Index3</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index4">Index4</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index5">Index5</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index6">Index6</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index7">Index7</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index8">Index8</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index9">Index9</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index10">Index10</a></h2>*@

