
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment">MainPage</a></h2>
<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index1">Back</a></h2>

<div class="menu__blocks-wrapper">
    <div class="menu__blocks">


        <div class="menu__list">
            <section class="menu__items-wrapper">
                <div class="menu__items">
                    <div class="dish-category-header" id="menu__category-id-12978">
                        <div class="dish-category-title-wrapper">
                            <h2 class="dish-category-title">Kampanj</h2>
                            <p class="dish-category-description">Måltider och tillbehör som vi erbjuder under en begränsad tidsperiod.</p>
                        </div>
                    </div>
                    <ul class="dish-list">

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:114797,&quot;name&quot;:&quot;Big BOSS&quot;,&quot;code&quot;:&quot;s1ur-pr-2gkt&quot;,&quot;description&quot;:&quot;Big BOSS best\u00e5r utav 180 gram kycklingfil\u00e9 i Original Recipe-panering, Monterey Jack-ost, tomat, l\u00f6k, sallad, v\u00e5r egen BOSS-s\u00e5s och pepparmayonnaise.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/114797.JPG.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/114797.JPG.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:137260,&quot;code&quot;:&quot;s1ur-pv-2xws&quot;,&quot;name&quot;:null,&quot;price&quot;:72,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[]}],&quot;master_category_id&quot;:4,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Kampanj" data-variation-id="137260" data-product-id="114797" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/114797.JPG.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/114797.JPG.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Big BOSS</span></h3><p class="dish-description e-description ingredients">Big BOSS består utav 180 gram kycklingfilé i Original Recipe-panering, Monterey Jack-ost, tomat, lök, sallad, vår egen BOSS-sås och pepparmayonnaise.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK72
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:114796,&quot;name&quot;:&quot;Big BOSS meal&quot;,&quot;code&quot;:&quot;s1ur-pr-2gks&quot;,&quot;description&quot;:&quot;Big BOSS best\u00e5r utav 180 gram kycklingfil\u00e9 i Original Recipe-panering, Monterey Jack-ost, tomat, l\u00f6k, sallad, v\u00e5r egen BOSS-s\u00e5s och pepparmayonnaise. I menyn ing\u00e5r 1 tillbeh\u00f6r och 1 dryck.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/114796.JPG.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/114796.JPG.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:137259,&quot;code&quot;:&quot;s1ur-pv-2xwr&quot;,&quot;name&quot;:null,&quot;price&quot;:92,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6831,6832]}],&quot;master_category_id&quot;:4,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Kampanj" data-variation-id="137259" data-product-id="114796" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/114796.JPG.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/114796.JPG.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Big BOSS meal</span></h3><p class="dish-description e-description ingredients">Big BOSS består utav 180 gram kycklingfilé i Original Recipe-panering, Monterey Jack-ost, tomat, lök, sallad, vår egen BOSS-sås och pepparmayonnaise. I menyn ingår 1 tillbehör och 1 dryck.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK92
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:114798,&quot;name&quot;:&quot;Favourites Bucket (2 personer)&quot;,&quot;code&quot;:&quot;s1ur-pr-2gku&quot;,&quot;description&quot;:&quot;Den h\u00e4r menyn inneh\u00e5ller 20 Popcorn Chicken, 4 Crispy Strips, 4 Hot Wings, 2 Original Recipe, 2 tillbeh\u00f6r, 2 dryck och 1 dipps\u00e5s.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/114798.JPG.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/114798.JPG.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:137261,&quot;code&quot;:&quot;s1ur-pv-2xwt&quot;,&quot;name&quot;:null,&quot;price&quot;:189,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6831,6879,6832,6841,6835]}],&quot;master_category_id&quot;:4,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Kampanj" data-variation-id="137261" data-product-id="114798" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/114798.JPG.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/114798.JPG.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Favourites Bucket (2 personer)</span></h3><p class="dish-description e-description ingredients">Den här menyn innehåller 20 Popcorn Chicken, 4 Crispy Strips, 4 Hot Wings, 2 Original Recipe, 2 tillbehör, 2 dryck och 1 dippsås.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK189
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>
                    </ul>
                    <div class="dish-category-header" id="menu__category-id-9968">
                        <div class="dish-category-title-wrapper">
                            <h2 class="dish-category-title">Buckets</h2>
                        </div>
                    </div>
                    <ul class="dish-list">

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:64966,&quot;name&quot;:&quot;Small Mix Meal&quot;,&quot;code&quot;:&quot;s1ur-pr-1e4m&quot;,&quot;description&quot;:&quot;4 Crispy Strips, 6 Hot Wings, 2 Original Recipe, 2 tillbeh\u00f6r, 2 drycker och 2 dipps\u00e5ser.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/64966.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/64966.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:65048,&quot;code&quot;:&quot;s1ur-pv-1e6w&quot;,&quot;name&quot;:null,&quot;price&quot;:189,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6831,6837,6832,6841,6850,6852]}],&quot;master_category_id&quot;:7,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Buckets" data-variation-id="65048" data-product-id="64966" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/64966.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/64966.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Small Mix Meal</span></h3><p class="dish-description e-description ingredients">4 Crispy Strips, 6 Hot Wings, 2 Original Recipe, 2 tillbehör, 2 drycker och 2 dippsåser.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK189
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:64967,&quot;name&quot;:&quot;Big Mix Meal&quot;,&quot;code&quot;:&quot;s1ur-pr-1e4n&quot;,&quot;description&quot;:&quot;I en Big Mix bucket ing\u00e5r alla v\u00e5ra olika kycklingsorter och passar lite st\u00f6rre s\u00e4llskap. Menyn inneh\u00e5ller 4 Original Recipe, 8 Crispy Strips, 8 Hot Wings, 30 Popcorn Chicken, 4 tillbeh\u00f6r, 4 drycker och 4 dipps\u00e5ser.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/64967.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/64967.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:65049,&quot;code&quot;:&quot;s1ur-pv-1e6x&quot;,&quot;name&quot;:null,&quot;price&quot;:379,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6833,6844,6845,6846,6834,6847,6849,6848,6835,6850,6851,6852]}],&quot;master_category_id&quot;:7,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Buckets" data-variation-id="65049" data-product-id="64967" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/64967.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/64967.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Big Mix Meal</span></h3><p class="dish-description e-description ingredients">I en Big Mix bucket ingår alla våra olika kycklingsorter och passar lite större sällskap. Menyn innehåller 4 Original Recipe, 8 Crispy Strips, 8 Hot Wings, 30 Popcorn Chicken, 4 tillbehör, 4 drycker och 4 dippsåser.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK379
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:65058,&quot;name&quot;:&quot;Hot Wings&quot;,&quot;code&quot;:&quot;s1ur-pr-1e76&quot;,&quot;description&quot;:&quot;Choose the amount of hot wings in the next step.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65058.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65058.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:65140,&quot;code&quot;:&quot;s1ur-pv-1e9g&quot;,&quot;name&quot;:null,&quot;price&quot;:185,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6836]}],&quot;master_category_id&quot;:7,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Buckets" data-variation-id="65140" data-product-id="65058" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/65058.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/65058.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Hot Wings</span></h3><p class="dish-description e-description ingredients">Choose the amount of hot wings in the next step.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK185
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:65059,&quot;name&quot;:&quot;Original Recipe&quot;,&quot;code&quot;:&quot;s1ur-pr-1e77&quot;,&quot;description&quot;:&quot;Whole chicken parts that have been paned in KFC\u0027s original recipe. Select the amount in the next step.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65059.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65059.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:65141,&quot;code&quot;:&quot;s1ur-pv-1e9h&quot;,&quot;name&quot;:null,&quot;price&quot;:175,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6853]}],&quot;master_category_id&quot;:7,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Buckets" data-variation-id="65141" data-product-id="65059" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/65059.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/65059.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Original Recipe</span></h3><p class="dish-description e-description ingredients">Whole chicken parts that have been paned in KFC's original recipe. Select the amount in the next step.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK175
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:81215,&quot;name&quot;:&quot;Boneless Bucket&quot;,&quot;code&quot;:&quot;s1ur-pr-1qnz&quot;,&quot;description&quot;:&quot;Den h\u00e4r menyn passar bra f\u00f6r 2 personer och inneh\u00e5ller 30 Popcorn Chicken, 8 Crispy Strips, 2 tillbeh\u00f6r, 2 dipps\u00e5ser och 2 drycker.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/81215.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/81215.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:81266,&quot;code&quot;:&quot;s1ur-pv-1qpe&quot;,&quot;name&quot;:null,&quot;price&quot;:189,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6879,6837,6880,6881,6832,6841]}],&quot;master_category_id&quot;:7,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Buckets" data-variation-id="81266" data-product-id="81215" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/81215.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/81215.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Boneless Bucket</span></h3><p class="dish-description e-description ingredients">Den här menyn passar bra för 2 personer och innehåller 30 Popcorn Chicken, 8 Crispy Strips, 2 tillbehör, 2 dippsåser och 2 drycker.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK189
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>
                    </ul>
                    <div class="dish-category-header" id="menu__category-id-9969">
                        <div class="dish-category-title-wrapper">
                            <h2 class="dish-category-title">Boxmeals</h2>
                        </div>
                    </div>
                    <ul class="dish-list">

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:65062,&quot;name&quot;:&quot;Boss Box Meal&quot;,&quot;code&quot;:&quot;s1ur-pr-1e7a&quot;,&quot;description&quot;:&quot;Boss burger, two crispy strips, a medium side, a beverage and a dip sauce.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65062.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65062.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:65144,&quot;code&quot;:&quot;s1ur-pv-1e9k&quot;,&quot;name&quot;:null,&quot;price&quot;:95,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6831,6878,6880]}],&quot;master_category_id&quot;:7,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Boxmeals" data-variation-id="65144" data-product-id="65062" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/65062.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/65062.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Boss Box Meal</span></h3><p class="dish-description e-description ingredients">Boss burger, two crispy strips, a medium side, a beverage and a dip sauce.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK95
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:65063,&quot;name&quot;:&quot;Hot Box Meal&quot;,&quot;code&quot;:&quot;s1ur-pr-1e7b&quot;,&quot;description&quot;:&quot;Zinger burger, four hot wings, a medium side and a beverage.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65063.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65063.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:65145,&quot;code&quot;:&quot;s1ur-pv-1e9l&quot;,&quot;name&quot;:null,&quot;price&quot;:92,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6831,6878]}],&quot;master_category_id&quot;:7,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Boxmeals" data-variation-id="65145" data-product-id="65063" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/65063.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/65063.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Hot Box Meal</span></h3><p class="dish-description e-description ingredients">Zinger burger, four hot wings, a medium side and a beverage.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK92
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>
                    </ul>
                    <div class="dish-category-header" id="menu__category-id-9970">
                        <div class="dish-category-title-wrapper">
                            <h2 class="dish-category-title">Kyckling</h2>
                        </div>
                    </div>
                    <ul class="dish-list">

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:65068,&quot;name&quot;:&quot;Chicken Mix&quot;,&quot;code&quot;:&quot;s1ur-pr-1e7g&quot;,&quot;description&quot;:&quot;One original recipe, one crispy strip, three hot wings, one medium sides, a beverage and one dip.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65068.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65068.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:65150,&quot;code&quot;:&quot;s1ur-pv-1e9q&quot;,&quot;name&quot;:null,&quot;price&quot;:85,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6877,6878,6880]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Kyckling" data-variation-id="65150" data-product-id="65068" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/65068.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/65068.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Chicken Mix</span></h3><p class="dish-description e-description ingredients">One original recipe, one crispy strip, three hot wings, one medium sides, a beverage and one dip.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK85
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>

                        <li class="">


                            <div class="dish-card h-product menu__item" data-object="{&quot;is_half_type_available&quot;:false,&quot;id&quot;:65069,&quot;name&quot;:&quot;Original Recipe Meal&quot;,&quot;code&quot;:&quot;s1ur-pr-1e7h&quot;,&quot;description&quot;:&quot;Two original recipe, a medium side and a beverage.&quot;,&quot;file_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65069.jpg?width=%s&quot;,&quot;logo_path&quot;:&quot;https:\/\/images.deliveryhero.io\/image\/fd-se\/Products\/65069.jpg?width=%s&quot;,&quot;half_type&quot;:null,&quot;product_variations&quot;:[{&quot;id&quot;:65151,&quot;code&quot;:&quot;s1ur-pv-1e9r&quot;,&quot;name&quot;:null,&quot;price&quot;:69,&quot;price_before_discount&quot;:null,&quot;container_price&quot;:0,&quot;choices&quot;:[],&quot;toppings&quot;:[],&quot;topping_ids&quot;:[6831,6878]}],&quot;master_category_id&quot;:8,&quot;is_prepacked_item&quot;:false,&quot;exclude_dish_information&quot;:false,&quot;has_dish_information&quot;:false,&quot;is_sold_out&quot;:false,&quot;additives&quot;:[]}" data-menu-category="Kyckling" data-variation-id="65151" data-product-id="65069" ontouchstart="">
                                <span class="item-react-root"><picture><div class="photo u-photo b-lazy b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/Products/65069.jpg?width=302" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/Products/65069.jpg?width=302&quot;);"></div></picture><div class="dish-info"><h3 class="dish-name fn p-name"><span>Original Recipe Meal</span></h3><p class="dish-description e-description ingredients">Two original recipe, a medium side and a beverage.</p></div></span>
                                <footer class="action-bar">
                                    <span class="price p-price">
                                        SEK69
                                    </span>
                                    <button class="button js-ripple">Add<i class="ripple"></i></button>
                                </footer>
                            </div>
                        </li>


                    </ul>

                </div>
                <div class="sticky-cart-button-container">
                    <button class="sticky-cart-button hide loading">

                        <span class="cart-icon">
                            <a class="vendor-cart-icon ">
                                <svg width="18px" height="26px" viewBox="0 0 18 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <rect id="path-1" x="0" y="4" width="18" height="22"></rect>
                                        <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="18" height="22" fill="white">
                                            <use xlink:href="#path-1"></use>
                                        </mask>
                                        <rect id="path-3" x="0" y="19" width="18" height="7"></rect>
                                        <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="18" height="7" fill="white">
                                            <use xlink:href="#path-3"></use>
                                        </mask>
                                    </defs>
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g class="svg-stroke-container" transform="translate(-23.000000, -19.000000)" stroke="#D70F64">
                                            <g transform="translate(1.000000, 0.000000)">
                                                <g transform="translate(22.000000, 19.000000)">
                                                    <use id="Rectangle-2" mask="url(#mask-2)" stroke-width="2" xlink:href="#path-1"></use>
                                                    <path d="M4.5,6.5 L4.5,1.49077797 C4.5,0.943586406 4.9463114,0.5 5.49754465,0.5 L12.5024554,0.5 C13.053384,0.5 13.5,0.95097518 13.5,1.49077797 L13.5,6.5" id="Path-3" stroke-linecap="round" stroke-linejoin="round"></path>
                                                    <use id="Rectangle-5" mask="url(#mask-4)" stroke-width="2" xlink:href="#path-3"></use>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <span class="products-count"></span>
                            </a>
                        </span>
                        <span>View cart</span>
                        <span class="products-value">SEK&nbsp;0</span>
                        <span class="calcul-animation">
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                        </span>
                    </button>
                </div>
            </section>
        </div>

        <div class="menu__bottom-info">
            <div class="menu__footer">

                <div class="menu-bottom-info-restaurant-description full-container">

                </div>


                <div id="order-details-react-root" class="full-container"><p class="restaurant-contact-information">Do you have questions about allergens and ingredients?<a class="restaurant-contact-link" data-number="+46406056836">Contact the restaurant</a>.</p></div>
            </div>
        </div>
    </div>
</div>




