
@{
    ViewBag.Title = "Index1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><a href="https://onlineorderingsystem.mofr.se/OrderPayment">MainPage</a></h2>

<div class="marketing-banner" style="display: block;">
    <div class="b-lazy marketing-banner-image   b-loaded" data-src="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=2000&amp;height=1040"
         data-src-bp_300="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=300&amp;height=156"
         data-src-bp_400="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=400&amp;height=208"
         data-src-bp_600="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=600&amp;height=312"
         data-src-bp_800="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=800&amp;height=416"
         data-src-bp_1000="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=1000&amp;height=520"
         data-src-bp_1200="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=1200&amp;height=624"
         data-src-bp_1400="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=1400&amp;height=728"
         data-src-bp_biggest="https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=2000&amp;height=1040" style="background-image: url(&quot;https://images.deliveryhero.io/image/foodpanda/marketing-NL-free-delivery.jpg?width=2000&amp;height=1040&quot;);"></div>
</div>
<div class="restaurants-container js-restaurants-container" data-vendors-count="159">
    <div class="restaurants__list">
        <section class="vendor-list-section  ">
            <span class="title-flat">
                Popular restaurants
            </span>

            <ul class="vendor-list " data-title-pickup="" data-title-delivery="Popular restaurants" data-title-background="In your city" data-show-extra-tile-info="false" data-show-pick-up-distance="false">
                <li>

                    <a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index3" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy   b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s0aw-listing.jpg?width=400&amp;height=292" data-vendor-id="8270" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s0aw-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">McDonald's</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Ekologiskt</span>
                                        <span>Finger Food</span>
                                        <span>American</span>
                                        <span>Vegetarian</span>
                                        <span>Burgers</span>
                                    </li>
                                </ul>

                            </figcaption>

                            <span class="tag">Free Delivery</span>
                        </figure>
                    </a>
                </li>

                <li>


                    <a href="https://onlineorderingsystem.mofr.se/OrderPayment/Index2" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy   b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s1ur-listing.jpg?width=400&amp;height=292" data-vendor-id="7791" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s1ur-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">KFC</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Finger Food</span>
                                        <span>Meat</span>
                                        <span>Hamburgare</span>
                                        <span>Pommes Frites</span>
                                        <span>American</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>

                    <a href="/en/restaurant/s5ll/happy-m-kitchen-deli" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy   b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s5ll-listing.jpg?width=400&amp;height=292" data-vendor-id="7090" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s5ll-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Happy M Kitchen KRAV</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Hälsosamt</span>
                                        <span>Ekologiskt</span>
                                        <span>Vegetariskt</span>
                                        <span>Vegetarian</span>
                                        <span>Healthy</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>









                    <a href="/en/chain/cc9hx/max-hamburgare" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy   b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s1qs-listing.jpg?width=400&amp;height=292" data-vendor-id="7480" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s1qs-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Max Hamburgare</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Hamburgare</span>
                                        <span>Kött</span>
                                        <span>Pommes Frites</span>
                                        <span>American</span>
                                        <span>Burgers</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>

                    <a href="/en/restaurant/s9gn/ethel-s-cafe" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy   b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s9gn-listing.jpg?width=400&amp;height=292" data-vendor-id="7946" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s9gn-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Ethel's Café</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Vegetariskt</span>
                                        <span>Kött</span>
                                        <span>Pasta</span>
                                        <span>Sallad</span>
                                        <span>Home Made Food</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/en/restaurant/s4qg/earth-cafe" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy   b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s4qg-listing.jpg?width=400&amp;height=292" data-vendor-id="8084" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s4qg-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Earth Café</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Vegetariskt</span>
                                        <span>Mexican</span>
                                        <span>Pizza</span>
                                        <span>Sandwiches</span>
                                        <span>Vegetarian</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/en/restaurant/s2oe/mr-shou-express" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy   b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s2oe-listing.jpg?width=400&amp;height=292" data-vendor-id="7787" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s2oe-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Mr Shou Express</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Fisk</span>
                                        <span>Sallad</span>
                                        <span>Asian</span>
                                        <span>Vegetarian</span>
                                        <span>Healthy</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/en/chain/co3yq/subway" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy   b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s4eq-listing.jpg?width=400&amp;height=292" data-vendor-id="7671" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s4eq-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Subway</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Hälsosamt</span>
                                        <span>American</span>
                                        <span>Healthy</span>
                                        <span>Vegetarian</span>
                                        <span>Sandwiches</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/en/restaurant/s7so/jacobs-cafe" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy  b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s7so-listing.jpg?width=400&amp;height=292" data-vendor-id="7391" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s7so-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Jacobs Café</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Bagel</span>
                                        <span>Home Made Food</span>
                                        <span>Sandwiches</span>
                                        <span>Swedish</span>
                                        <span>Cakes &amp; Bakery</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/en/restaurant/s4ow/deli-deli-food-and-wine" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy  b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s4ow-listing.jpg?width=400&amp;height=292" data-vendor-id="7773" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s4ow-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Deli Deli food and wine</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Hamburgare</span>
                                        <span>Sallad</span>
                                        <span>Smörgås</span>
                                        <span>Pizza</span>
                                        <span>Italian</span>
                                    </li>
                                </ul>

                            </figcaption>

                            <span class="tag">Free Delivery</span>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="/en/restaurant/s9yq/kerstins-delikatesser" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy  b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s9yq-listing.jpg?width=400&amp;height=292" data-vendor-id="7774" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s9yq-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Kerstins Delikatesser</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Vegetariskt</span>
                                        <span>Pasta</span>
                                        <span>Smörgås</span>
                                        <span>Soppa</span>
                                        <span>Fisk &amp; skaldjur</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>
                <li>

                    <a href="/en/restaurant/s4mu/waffles-sweden" data-flood-closed-message="" class="hreview-aggregate url">
                        <figure class="vendor-tile  item ">
                            <picture>
                                <div class="vendor-picture b-lazy  b-loaded" data-src="https://images.deliveryhero.io/image/fd-se/LH/s4mu-listing.jpg?width=400&amp;height=292" data-vendor-id="7599" style="background-image: url(&quot;https://images.deliveryhero.io/image/fd-se/LH/s4mu-listing.jpg?width=400&amp;height=292&quot;);"></div>
                            </picture>
                            <figcaption class="vendor-info">
                                <span class="headline">
                                    <span class="name fn">Waffles Sweden</span>
                                </span>
                                <ul class="categories summary">
                                    <li>
                                        <span class="budget-symbol--filled">$</span>
                                        <span class="budget-symbol--filled">$</span>
                                        <span>$</span>
                                    </li>
                                    <li class="vendor-characteristic">
                                        <span>Hemlagat</span>
                                        <span>Street Food</span>
                                        <span>Glass</span>
                                        <span>Vegetarian</span>
                                        <span>Breakfast</span>
                                    </li>
                                </ul>

                            </figcaption>

                        </figure>
                    </a>
                </li>

            </ul>
        </section>
    </div>

</div>

