<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    
    <!--<add name="LocalConnection" connectionString="Data Source=172.20.13.100;Initial Catalog=POSSUMRetail;UID=sa; Password=gin37,5%xxx;" providerName="System.Data.SqlClient" />-->
    <!--<add name="LocalConnection" connectionString="Data Source=.;Initial Catalog=MalmqvistEL;UID=sa; Password=sql2k16;" providerName="System.Data.SqlClient" />-->
    <add name="LocalConnection" connectionString="Data Source=LAPTOP-3JG4VINT\MSSQLSERVER19;Initial Catalog=3Hjartan;UID=sa; Password=vision;" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="StockAdjustmentEnabled" value="1" />

    <!--<add key="ClientSettingsProvider.ServiceUri" value="http://api-v2.possumsystem.com/" />-->
    <!--<add key="ClientSettingsProvider.ServiceUri" value="http://api-v1.possumsystem.com/" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="http://api-v0.possumsystem.com/" />
    <!--<add key="TerminalId" value="D7B29699-DA95-40E4-8D8E-3B0A55C8C893" />-->    
    <!--<add key="TerminalId" value="1764D338-BDFC-45A3-80AB-8EC47D3294A6" />-->    
    <!--<add key="ApiUserID" value="salongrivoli" />
    <add key="ApiPassword" value="89654715" />-->

    <!--<add key="ApiUserID" value="3Hjartan" />
    <add key="ApiPassword" value="51564853" />-->
    
     <!--<add key="ApiUserID" value="malmqvist" />
    <add key="ApiPassword" value="420326" />-->
    
    <!--<add key="UserID" value="111" />
    <add key="Password" value="123456" />-->
    <!--Interval in Minuts-->
    <add key="Interval" value="5" />
    <!--0: for single Outlet 1: Multi Outlet-->
    <add key="TerminalMode" value="0" />
    <!--<add key="UserID2" value="222" />
    <add key="Password" value="123456" />-->

    <!--fortnox-->

    <add key="DBServer" value="172.20.13.100" />
    <add key="DbUserName" value="sa" />
    <add key="DbPassword" value="gin37,5%xxx" />
    
    <add key="FNDBName" value="POSSUMRetail" />
    <add key="ClientId" value="UuZRjIIGoR82" />
    <add key="ClientSecret" value="FlunPOoi3J" />
    <add key="ReturnURL" value="http://localhost:24116/FN/activation" />
    <add key="Scopes" value="customer%20companyinformation" />
    <!--<add key="Scopes" value="companyinformation"/>-->
    <add key="FNTokenFile" value="C:\FN\FNTokenFile.txt" />
    <add key="FNSetting" value="C:\FN\FNSetting.txt" />
    <add key="FNLastMessage" value="C:\FN\FNLastMessage.txt" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
