@model MonthlyCategorySale
<div class="panel panel-tile br-a br-grey" id="ByDay">
    @Html.Partial("SaleByDay", Model.DailySales)
</div>

<div class="panel panel-tile br-a br-grey" id="ByCategory">
    @Html.Partial("MonthlyByCategory", Model.Categories)

</div>
